<?xml version="1.0" encoding="utf-8"?>
<!-- vim:set ft=xml: -->
<packages>
  <!-- Git -->
  <package id="git" packageParameters="'/GitOnlyOnPath /NoAutoCrlf /WindowsTerminal /NoShellIntegration /SChannel'" />
  <package id="gpg4win" />
  <package id="poshgit" />
  <!-- Editor -->
  <package id="vim" packageParameters="'/NoDesktopShortcuts /RestartExplorer'" />
  <package id="vscode" packageParameters="'/NoDesktopIcon'" />
  <!-- Web browsers -->
  <package id="firefox" packageParameters="'/l:ja-JP /NoDesktopShortcut /RemoveDistributionDir'" />
  <package id="googlechrome" />
  <!-- Certification -->
  <package id="mkcert" />
  <!-- Virtualizations -->
  <package id="docker-desktop" />
  <!-- Others -->
  <package id="graphviz" />
</packages>
